@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0 0;
}

input,
select,
textarea,
button {
  vertical-align: middle;
}

input::-ms-clear {
  display: none;
}

button {
  border: 0 0;
  background-color: transparent;
  cursor: pointer;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

img {
  vertical-align: middle;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
th,
td,
input,
select,
textarea,
button {
  line-height: normal;
  font-family: AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
  color: #333;
  letter-spacing: -0.025em;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  font-size: 14px;
  font-family: AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
  line-height: 1.4;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background: #fff;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.screen-out {
  position: absolute !important;
  width: 1px;
  height: 1px;
  font-size: 0;
  text-indent: -10000px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.txtbr {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.nowrap {
  white-space: nowrap;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit],
input[type=reset],
input[type=button],
button {
  background: 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: 0;
  -moz-user-select: 0;
  -ms-user-select: 0;
}

input[type=button]:disabled,
button:disabled {
  background-color: #e7e7e7 !important;
}

button,
select,
input[type=radio],
input[type=submit],
input[type=search] {
  overflow: visible;
  font-size: 14px;
  cursor: pointer;
  border: 0;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #1a1a1a;
  opacity: 0.8;
}

a,
button {
  cursor: pointer;
}

a:focus,
input:focus,
button:focus,
textarea:focus,
select {
  outline: 0;
}

[class*=list-type-] {
  margin-top: 0.3em;
  padding-left: 1em;
}

[class*=list-type-] > li {
  position: relative;
  padding-left: 0.3em;
}

[class*=list-type-] > li.list-none {
  list-style: none !important;
}

[class*=list-type-] > li.list-none::before {
  content: "";
}

[class*=list-type-] > li + li {
  margin-top: 0.2em;
}

.list-type-none {
  padding-left: 1em;
}

.list-type-none > li {
  text-indent: -1em;
}

.list-type-disc > li {
  text-indent: -0.8em;
}

.list-type-disc > li::before {
  content: "∙";
  margin-right: 0.3em;
}

.list-type-circle > li {
  text-indent: -0.8em;
}

.list-type-circle > li::before {
  content: "o";
  margin-right: 0.4em;
  font-size: 8px;
}

.list-type-square > li {
  list-style: square;
}

.list-type-dash li {
  text-indent: -0.8em;
}

.list-type-dash > li::before {
  content: "-";
  margin-right: 0.4em;
}

.list-type-decimal > li {
  list-style: decimal;
}

.list-type-decimal-zero > li {
  list-style: decimal-leading-zero;
}

.list-type-lower-roman > li {
  list-style: lower-roman;
}

.list-type-upper-roman > li {
  list-style: upper-roman;
}

.list-type-lower-greek > li {
  list-style: lower-greek;
}

.list-type-lower-latin > li {
  list-style: lower-latin;
}

.list-type-upper-latin > li {
  list-style: upper-latin;
}

.list-type-armenian > li {
  list-style: armenian;
}

.list-type-georgian > li {
  list-style: georgian;
}

.list-type-lower-alpha > li {
  list-style: lower-alpha;
}

.list-type-upper-alpha > li {
  list-style: upper-alpha;
}

[class*=list-counter-] {
  padding-left: 0.8em;
  counter-reset: list;
  counter-reset: section;
}

[class*=list-counter-] > li {
  position: relative;
  padding-left: 0.3em;
  line-height: 1.3;
  list-style: none;
}

[class*=list-counter-] > li + li {
  margin-top: 0.2em;
}

.list-counter-lower-alpha > li {
  text-indent: -0.8em;
}

.list-counter-lower-alpha > li:before {
  content: counter(list, lower-alpha) ")";
  counter-increment: list;
}

.list-counter-decimal > li {
  position: relative;
  text-indent: -0.6em;
}

.list-counter-decimal > li:before {
  content: counter(section) ".";
  counter-increment: section;
  display: inline-block;
  margin-right: 0.4em;
  font-size: inherit;
  text-align: right;
  line-height: 16px;
  vertical-align: middle;
}

.list-counter-decimal-circle {
  padding-left: 18px;
}

.list-counter-decimal-circle > li {
  position: relative;
  text-indent: -18px;
}

.list-counter-decimal-circle > li:before {
  content: counter(section);
  counter-increment: section;
  display: inline-block;
  margin-top: -1px;
  margin-right: 3px;
  padding: 0;
  width: 14px;
  height: 14px;
  font-size: 9px;
  text-align: center;
  text-indent: 0;
  line-height: 14px;
  border: 1px solid #333;
  border-radius: 50%;
  vertical-align: middle;
}

.button-wrap.button-mt {
  margin-top: 30px;
}

.button-area {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.button-area:nth-child(2) {
  margin-top: 1rem;
}

.button-area li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 50px;
  font-size: 18px;
}

.button-confirm {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  color: #000;
  border-radius: 30px;
  background: #f7ce46;
}

.button-confirm:hover {
  color: #000;
  background: #f7ce46;
}

.jconfirm.jconfirm-my-theme .jconfirm-bg {
  background: rgba(0, 0, 0, 0.6);
}

.jconfirm.jconfirm-my-theme .jconfirm-holder {
  padding: 18px;
}

.jconfirm.jconfirm-my-theme .jconfirm-box {
  padding: 0;
  border-radius: 0;
}

.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-content-pane {
  margin-bottom: 0;
  vertical-align: middle;
}

.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-content {
  padding: 30px 18px;
  text-align: center;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button {
  margin: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #000;
  border-radius: 0;
  background: #f7ce46;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button:hover {
  color: #000;
  background: #f7ce46;
  cursor: pointer;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button.button-cancel {
  background: #999;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button.button-cancel:hover {
  background: gray;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 18px 0 36px;
  width: 100%;
  height: 55px;
  background: #FFF;
  z-index: 800;
}

.header-wrap .h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  color: #000;
}

.header-wrap.main {
  border-bottom: 1px solid #ccc;
  background: #FFF;
}

.header-wrap.main .h1 {
  color: #000;
}

.header-wrap .button-slidemenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  background: url(../images/icon_menu.png) no-repeat center;
  background-size: contain;
  z-index: 1000;
}

.header-wrap .button-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  background: url(../images/icon_prev.png) no-repeat center;
  background-size: 55px 55px;
  z-index: 1000;
}

.footer-wrap {
  padding-bottom: 52px;
  text-align: center;
  background: #FFF;
  border-top: 10px solid #F2F2F2;
}

.footer-wrap .address {
  padding: 18px;
  font-size: 12px;
  color: #666;
}

.footer-wrap .address .copyright {
  margin-top: 10px;
}

.footer-cscenter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e9e9e9;
}

.footer-cscenter .cscenter {
  padding: 10px 18px;
  font-size: 12px;
  text-align: center;
  color: #666;
}

.footer-cscenter .cscenter .csblack {
  color: #333;
}

.top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 10px;
  display: block;
  width: 40px;
  height: 40px;
  background: url(../../images/lt/icon_top.png) no-repeat center;
  background-size: contain;
}

.contents-wrap {
  padding-top: 55px;
  padding-bottom: 52px;
  min-height: 240px;
  background: #fff;
}

.contents-wrap.main {
  padding-bottom: 0;
}

.contents-wrap.no-top {
  padding-top: 0;
}

.contents-wrap .title {
  margin: 30px 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.contents-wrap .title.first {
  margin-top: 0;
  font-size: 21px;
}

.contents-wrap .subtop-wrap img {
  width: 100%;
}

.contents-wrap .inner-wrap {
  margin: 0 auto;
  padding: 30px 18px;
  line-height: 1.4;
  box-sizing: border-box;
}

.contents-wrap .inner-wrap .subtitle {
  margin: 20px 0;
  color: #000;
}

.contents-wrap .inner-wrap ul[class*=list-type-] li,
.contents-wrap .inner-wrap ol[class*=list-type-] li {
  /*margin: 10px 0;*/
  line-height: 1.5;
  color: #848484;
}

.contents-wrap .detail {
  color: #848484;
}

.slidemenu-wrap {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 2000;
}

.slidemenu-wrap .my-area {
  position: relative;
  padding: 85px 30px 30px;
  text-align: left;
  background: #FFF;
  box-sizing: border-box;
}

.slidemenu-wrap .my-area .img {
  margin-bottom: 20px;
}

.slidemenu-wrap .my-area .img img {
  width: 48px;
}

.slidemenu-wrap .my-area .name {
  font-size: 16px;
}

.slidemenu-wrap .my-area .user_name {
  font-weight: 600;
  color: #F5B603 !important;
}

.slidemenu-wrap .my-area .service {
  margin-top: 6px;
  font-size: 20px;
  font-weight: bold;
}

.slidemenu-wrap .my-area .service mark {
  background-color: #fff;
  color: #F5B603;
}

.slidemenu-wrap .my-area .slidemenu-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 55px;
  background: url(../images/icon_close_w.png) no-repeat center;
  background-size: 55px;
}

.slidemenu-wrap .gnb-wrap {
  padding-top: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.slidemenu-wrap .gnb-wrap .gnb .gnb-link {
  border-top: 1px solid #e1e1e1;
  padding: 24px 18px;
  display: block;
  font-size: 16px;
  color: #000;
  background: url(../images/icon_link.png) no-repeat;
  background-size: 24px 24px;
  background-position: top 50% right 11px;
  font-weight: 600;
}

.mainvisual {
  position: relative;
}

.mainvisual .slick-slide {
  height: auto;
}

.mainvisual img {
  width: 100%;
}

.mainvisual .slick-dots {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.mainvisual .slick-dots li {
  display: inline-block;
  margin-right: 8px;
  width: 6px;
  height: 6px;
  font-size: 0;
  border-radius: 6px;
  background: #d8d8d8;
}

.mainvisual .slick-dots li button {
  font-size: 0;
  line-height: 0;
}

.mainvisual .slick-dots li.slick-active {
  width: 18px;
  background: #fff;
}

.mainvisual .slick-arrow {
  display: none !important;
}

.mainlist-wrap {
  padding: 0 0 20px;
}

.mainlist-wrap .maintitle {
  margin-bottom: 10px;
  font-weight: bold;
}

.mainlist-wrap .maintitle2 {
  color: #222;
  font-weight: normal;
  line-height: 1.3;
}

.mainlist-wrap .mainlist-type1 {
  margin-top: 5px;
  padding: 0 18px;
}

.mainlist-wrap .mainlist-type1 > li {
  content: "";
  display: block;
  clear: both;
  padding: 15px 0 35px 0;
  border-bottom: 1px solid #e9e9e9;
}

.mainlist-wrap .mainlist-type1 > li:last-child {
  border-bottom: none;
  padding: 15px 0 20px 0;
}

.mainlist-wrap .mainlist-type1 > li a {
  display: block;
  background: #fff url(../images/icon_link_1.png) no-repeat;
  background-size: 24px 24px;
  background-position: top 100% right 10px;
}

.mainlist-wrap .mainlist-type1 > li a > img {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 20px 0 10px;
}

.mainlist-wrap .mainlist-type1 > li a .menutitle {
  padding-top: 18px;
  font-weight: 600;
  font-size: 15px;
  color: #222;
}

.mainlist-wrap .mainlist-type2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-top: 20px;
  padding: 0 18px;
}

.mainlist-wrap .mainlist-type2 > div.mainlist-div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mainlist-wrap .mainlist-type2 > div.mainlist-div:nth-child(2n-1) {
  padding-right: 2px;
}

.mainlist-wrap .mainlist-type2 > div.mainlist-div:nth-child(2n) {
  padding-left: 2px;
}

.mainlist-wrap .mainlist-type3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-top: 20px;
  padding: 18px 18px 24px 18px;
  border-top: 10px solid #f2f2f2;
  border-bottom: 10px solid #f2f2f2;
}

.mainlist-wrap .mainlist-type3 .mainlist-div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.mainlist-wrap .mainlist-type3 .mainlist-div .icon img {
  width: 54px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.mainlist-wrap .mainlist-type4 {
  margin-top: 20px;
  padding: 0 18px;
}

.mainlist-wrap .mainlist-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 48px;
}

.mainlist-wrap .mainlist-inner + .mainlist-inner {
  margin-top: 10px;
}

.mainlist-wrap .mainlist-inner .box {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mainlist-wrap .mainlist-inner .box + .box:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background: #e5e5e5;
}

.mainlist-wrap .mainlist-link a {
  display: block;
}

.mainlist-wrap .mainlist-link img {
  width: 100%;
}

.mainlist-wrap .mainlist-link2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0 13px;
  width: 100%;
  height: 100%;
  color: #222;
  background: #fff;
  border: 1px solid #e9e9e9;
}

.mainlist-wrap .mainlist-link2.left-none {
  border-left: none;
}

.mainlist-wrap .mainlist-link2.right-none {
  border-right: none;
}

.mainlist-wrap .mainlist-link2.arrow {
  color: #222;
  background: #fff url(../images/icon_link_2.png) no-repeat;
  background-size: 10px 10px;
  background-position: top 50% right 11px;
}

.barcode-area {
  margin-top: 20px;
}

.cpn-barcode-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  min-width: 280px;
}

.cpn-barcode-box .barcode {
  float: left;
  clear: both;
  padding: 0 10px;
  overflow: auto;
  height: auto;
}

.cpn-barcode-box .right {
  float: right;
}

.cpn-barcode-box .barcode + * {
  clear: both;
}

.cpn-barcode-box .barcode div {
  float: left;
  height: 50px;
}

.cpn-barcode-box .barcode .bar1 {
  border-left: 1px solid black;
}

.cpn-barcode-box .barcode .bar2 {
  border-left: 2px solid black;
}

.cpn-barcode-box .barcode .bar3 {
  border-left: 3px solid black;
}

.cpn-barcode-box .barcode .bar4 {
  border-left: 4px solid black;
}

.cpn-barcode-box .barcode .space0 {
  margin-right: 0;
}

.cpn-barcode-box .barcode .space1 {
  margin-right: 1px;
}

.cpn-barcode-box .barcode .space2 {
  margin-right: 2px;
}

.cpn-barcode-box .barcode .space3 {
  margin-right: 3px;
}

.cpn-barcode-box .barcode .space4 {
  margin-right: 4px;
}

.cpn-barcode-box .barcode label {
  clear: both;
  display: block;
  padding-top: 6px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
}

.coupon-top-wrap {
  padding: 30px 18px;
  text-align: center;
}

.coupon-top-wrap .logo img {
  height: 30px;
}

.coupon-top-wrap .cpnimg img {
  height: 100px;
}

.coupon-top-wrap .text-notice {
  margin-top: 20px;
  font-weight: bold;
  color: #db4e69;
}

.coupon-top-wrap .cost {
  padding-top: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.coupon-top-wrap .costinfo {
  padding-top: 5px;
  font-size: 12px;
  color: #848484;
}

.coupon-top-wrap .date {
  padding-top: 15px;
  font-size: 13px;
  color: #e5712d;
}

.coupon-top-wrap .date2 {
  margin-top: 15px;
  font-size: 12px;
}

.coupon-top-wrap .date2 span {
  display: inline-block;
  margin-right: 4px;
  padding: 3px 10px;
  min-width: 140px;
  min-height: 22px;
  color: #fff;
  background: #848484;
  vertical-align: middle;
  line-height: 1.6;
}

.coupon-top-wrap .subimg {
  padding-top: 10px;
}

.coupon-top-wrap .subimg img {
  width: 102px;
}

.coupon-top-wrap .coupon-button {
  margin-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.coupon-top-wrap .coupon-button .coupon-viewlarge {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 200px;
  height: 40px;
  font-weight: bold;
  color: #000;
  background: #f7ce46;
  border-radius: 20px;
}

.coupon-top-wrap .coupon-button .coupon-viewlarge span:before {
  content: "";
  margin-right: 6px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../images/icon_large.png) no-repeat center;
  background-size: contain;
  vertical-align: middle;
}

.coupon-top-wrap .coupon-button .coupon-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 60px;
  color: #000;
  background: #f7ce46;
  border-radius: 30px;
}

.coupon-top-wrap .pin-area {
  padding-top: 20px;
}

.coupon-top-wrap .pin-area .coupon-pin + .coupon-pin {
  margin-top: 10px;
}

.coupon-top-wrap .pin-area textarea {
  height: 22px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  resize: 0;
  border: 0;
  background: 0 0;
  outline: 0;
  overflow: hidden;
  appearance: 0;
  -webkit-appearance: 0;
}

.coupon-top-wrap .pin-area button {
  padding: 0 10px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  color: #fff;
  background: #666;
  border-radius: 2px;
}

.coupon-top-wrap .used {
  margin-top: 20px;
  padding: 12px;
  font-size: 12px;
  background: #fafafb;
}

.coupon-top-wrap .used .info {
  margin-top: 10px;
  color: #848484;
}

.coupon-top-wrap .notice {
  margin-top: 20px;
  font-size: 12px;
  color: #db4e69;
}

.coupon-useguide-wrap {
  background: #fff;
  border-top: 1px solid #e1e1e1;
}

.coupon-useguide-wrap .coupon-inner-wrap {
  margin: 0 auto;
  padding: 30px 18px;
  line-height: 1.4;
}

.coupon-useguide-wrap .coupon-inner-wrap .title {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.coupon-useguide-wrap .coupon-inner-wrap li {
  margin: 5px 0;
}

.coupon-useguide-wrap .coupon-inner-wrap .info-text {
  padding-left: 1em;
  text-indent: -1em;
}

.coupon-useguide-wrap .coupon-inner-wrap .info-text p {
  margin: 5px 0;
  color: #666;
  font-size: 13px;
}

.coupon-useguide-wrap .coupon-inner-wrap .info-text ul li {
  margin: 5px 0 0 10px;
  padding-left: 10px;
  color: #666;
  font-size: 13px;
  position: relative;
}

.coupon-useguide-wrap .coupon-inner-wrap .info-text ul li:after {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
}

.coupon-useguide-wrap .coupon-inner-wrap .important {
  margin-top: 18px !important;
  font-weight: bold;
}

.barcode-modal-wrap {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  padding: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  transition: 2s;
}

.barcode-modal-wrap .barcode-modal-inner {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%) rotate(90deg);
  -o-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
  text-align: center;
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-box .logo img {
  height: 30px;
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-box .cost {
  padding: 8px 0 15px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-box .date {
  font-size: 12px;
  color: #e5712d;
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-box .cpn-barcode-box .barcode {
  -moz-transform: scaleX(1.2);
  -o-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
  transform: scaleX(1.2);
}

.barcode-modal-wrap .barcode-modal-inner .barcode-modal-close {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55px;
  height: 55px;
  background: url(../images/icon_close.png) no-repeat center;
  background-size: contain;
}

div.scrollable {
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

iframe.external {
  width: 100%;
  height: 100%;
  height: 70vh;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.loading-area {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.loading-area img {
  width: 100%;
}

.loading-area img.loading {
  -webkit-animation: spin 3s infinite linear;
  -o-animation: spin 3s infinite linear;
  -moz-animation: spin 3s infinite linear;
  animation: spin 3s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gift-title {
  padding: 30px 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.gift-title.first {
  padding-top: 0;
}

.mygift {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 16px;
  border: 1px solid #e5e5e5;
}

.mygift + .mygift {
  border-top: 0;
}

.mygift .left {
  font-size: 12px;
  color: #848484;
}

.mygift .right {
  font-weight: bold;
}

.change-notice {
  margin-top: 20px;
  font-size: 12px;
  color: #db4e69;
}

.change-gift-wrap .radio-style {
  position: relative;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.change-gift-wrap .radio-style + .radio-style {
  border-top: none;
}

.change-gift-wrap .radio-style input {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.change-gift-wrap .radio-style input + label {
  display: block;
  padding: 15px;
  cursor: pointer;
}

.change-gift-wrap .radio-style input:checked + label {
  color: #00907f;
  background: url(../images/icon_selected.png) no-repeat;
  background-size: 14px 11px;
  background-position: top 50% left 20px;
}

.change-end-wrap {
  padding: 30px 18px;
  text-align: center;
  background: #ebebeb;
}

.change-end-wrap .icon {
  margin-bottom: 16px;
}

.change-end-wrap .icon .icon-success {
  display: inline-block;
  width: 44px;
  height: 44px;
  background: url(../images/icon_success.png) no-repeat center;
  background-size: contain;
  vertical-align: middle;
}

.change-end-wrap .text1 {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.terms-wrap {
  padding: 30px 18px;
  line-height: 1.4;
}

.terms-wrap .header {
  margin-top: -30px;
  margin-bottom: 18px;
}

.terms-wrap .header .subject {
  font-size: 16px;
  color: #000;
}

.terms-wrap h2 {
  margin: 20px 0 10px;
}

.terms-wrap ol li,
.terms-wrap ul li {
  margin: 5px 0;
  color: #848484;
}

.svcinfo-wrap .svcinfo-top {
  height: auto;
  padding: 18px;
}

.svcinfo-wrap .svcinfo-top:before,
.svcinfo-wrap .svcinfo-top:after {
  content: "";
  display: table;
}

.svcinfo-wrap .svcinfo-top:after {
  clear: both;
}

.svcinfo-wrap .svcinfo-top .logo {
  float: left;
}

.svcinfo-wrap .svcinfo-top .contact-area {
  float: right;
  padding-bottom: 4px;
}

.svcinfo-wrap .svcinfo-top .contact {
  display: table;
  font-size: 12px;
  border: 1px solid #eee;
}

.svcinfo-wrap .svcinfo-top .contact p {
  display: table-cell;
  padding: 8px 10px;
  text-align: center;
  vertical-align: middle;
}

.svcinfo-wrap .svcinfo-top .contact p + p {
  border-left: 1px solid #eee;
}

.svcinfo-wrap .svcinfo-top .text-area {
  clear: both;
}

.svcinfo-wrap .svcinfo-top .text-area .text-large {
  margin-top: 10px;
  font-size: 18px;
  color: #000;
}

.svcinfo-wrap .svcinfo-top .text-area .text-normal {
  margin-top: 10px;
  font-size: 12px;
}

.svcinfo-wrap .svcinfo-member {
  padding: 20px;
  font-size: 12px;
  text-align: center;
  background: #EBF1F5;
}

.svcinfo-wrap .svcinfo-member span {
  white-space: nowrap;
}

.svcinfo-wrap .svcinfo-member strong {
  font-weight: bold;
  text-decoration: underline;
}

.svcinfo-detail {
  padding: 18px;
  font-size: 12px;
}

.svcinfo-detail .detail-area + .detail-area {
  margin-top: 20px;
}

.svcinfo-detail .subject {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}

.svcinfo-detail .subject img {
  vertical-align: middle;
}

.svcinfo-detail p,
.svcinfo-detail ul,
.svcinfo-detail li {
  margin: 4px 0;
  line-height: 1.3;
}

.svcinfo-detail .detail-title {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
  font-weight: bold;
  border-bottom: 1px solid #333;
}

.svcinfo-detail .detail-inner-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.svcinfo-detail .detail-inner-wrap .detail-inner {
  width: 49%;
}

.svcinfo-detail .svctb {
  margin: 4px 0;
  width: 100%;
  border: 1px solid #a8a8a8;
}

.svcinfo-detail .svctb th,
.svcinfo-detail .svctb td {
  padding: 8px;
  line-height: 1.3;
  border: 1px solid #a8a8a8;
  vertical-align: middle;
}

.svcinfo-detail .svctb th.dark {
  font-weight: bold;
  background: #d0d0d0;
}

.svcinfo-detail .svctb th.light {
  font-weight: bold;
  background: #eee;
}

.svcinfo-detail .svctb .cpninfo {
  margin-bottom: 8px;
  padding-left: 1em;
  text-indent: -1em;
}

.svcinfo-detail .svctb .cpninfo + .cpninfo {
  margin-top: -4px;
}

.forshop .coupon-top-wrap .cpnimg02 {
  margin-top: 15px;
}

.forshop_wrap .evtSlide .slick-counter {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.4);
  padding: 3px 0;
  width: 4em;
  text-align: center;
  border-radius: 2em;
  color: #FFF;
  font-size: 0.75rem;
}

.forshop_wrap .evtSlide .slick-counter .current {
  font-weight: 800;
}

/* /// 2022-03-15 css 추가 /// */
.mainlist-wrap .mainlist-type4 h3 {
  color: #222;
  font-size: 18px;
  padding-bottom: 15px;
}

.mainlist-wrap .mainlist-type4 .couponlist-wrap .coupon-issue {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mainlist-wrap .mainlist-type4 .couponlist-wrap .coupon-issue .couponissue-link {
  padding: 10px 15px;
  background: #fff;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.2);
  line-height: 40px;
  color: #222;
  font-weight: 700;
  font-size: 14px;
  height: 60px;
  display: block;
  margin-bottom: 15px;
  vertical-align: middle;
  border-radius: 10px;
  background: url(../images/icon_link.png) no-repeat;
  background-size: 24px 24px;
  background-position: top 50% right 10px;
}

.couponlist-wrap .coupon-issue .couponissue-link .category {
  font-size: 11px !important;
  color: #15c3bb;
  text-align: right;
  margin-right: 5px;
  font-weight: 100;
  display: inline-block;
  line-height: 1.5em;
  padding: 2px 6px;
}

.couponlist-wrap .coupon-issue .couponissue-link .category.online {
  color: #3b92ce;
  border: 1px solid #3b92ce;
  border-radius: 12px;
}

.couponlist-wrap .coupon-issue .couponissue-link .category.mart {
  color: #15c3bb;
  border: 1px solid #15c3bb;
  border-radius: 12px;
}

.couponlist-wrap .coupon-issue .couponissue-link .category.convenience {
  color: #d1678a;
  border: 1px solid #d1678a;
  border-radius: 12px;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo {
  display: inline-block;
  margin-left: 5px;
  font-size: 1px;
  color: transparent;
  vertical-align: top;
  height: 41px;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.forshop {
  width: 19px;
  background: url(../images/common/logo_forshop.png) left center no-repeat;
  background-size: 100%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.homeplus {
  width: 65px;
  background: url(../images/common/logo_homeplus.png) left center no-repeat;
  background-size: 100%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.lotteOn {
  width: 70px;
  background: url(../images/common/logo_lotteOn.png) left center no-repeat;
  background-size: 100%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.k-shopping {
  width: 44px;
  background: url(../images/common/logo_kshopping.png) left center no-repeat;
  background-size: 100%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.kbMAll {
  width: 55px;
  background: url(../images/common/logo_kbMall.png) left center no-repeat;
  background-size: 19px;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.kbMAll2 {
  width: 55px;
  background: url(../images/common/logo_kbMall2.png) left center no-repeat;
  background-size: 19px;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.emart {
  width: 45px;
  background: url(../images/common/logo_emart.png) left center no-repeat;
  background-size: 100%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.lottemart {
  width: 65px;
  background: url(../images/common/logo_lottemart.png) left center no-repeat;
  background-size: 100%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.cu {
  width: 30px;
  background: url(../images/common/logo_cu.png) left center no-repeat;
  background-size: 100%;
}

.couponlist-wrap .coupon-issue .couponissue-link .coupon-logo.gs25 {
  width: 36px;
  background: url(../images/common/logo_gs25.png) left center no-repeat;
  background-size: 100%;
}

/* /// 택배예약 /// */
.steplist-guide {
  margin: 2px 0 20px;
}

.steplist-guide > li {
  position: relative;
  border: 1px solid #e9e9e9;
  background: #fff;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 1.5em;
  color: #666;
}

.steplist-guide > li .step {
  color: #E5712D;
  font-weight: 900;
  position: absolute;
  left: 12px;
  font-size: 0.8rem;
}

.contents-wrap .inner-wrap p {
  font-size: 0.9rem;
  line-height: 1.7em;
}

.steplist-guide > li .text {
  padding-left: 60px;
  font-weight: 400;
  font-size: 0.8rem;
}

/* /// 서비스 안내 /// */
.accordion-wrap {
  margin: 30px auto 0;
  max-width: 1024px;
  line-height: 1.4;
}

.accordion-wrap.bottom {
  padding-bottom: 70px;
}

.accordion-wrap .accordion-area {
  color: #666;
}

.accordion-title {
  padding: 12px;
  background: url(../images/icon_pageDown2.png) no-repeat;
  background-size: 18px 10px;
  background-position: right 12px top 50%;
  cursor: pointer;
  color: #000;
}

.accordion-title,
.accordion-title.first {
  border-top: 1px solid #e1e1e1;
}

.accordion-title.active {
  border-top: 1px solid #000;
  background-image: url(../images/icon_pageUp2.png);
}

.accordion-content {
  display: none;
  padding: 0 16px 16px;
  font-size: 0.85rem;
  line-height: 1.5;
  background: #fff;
}

.accordion-wrap .accordion-area.bottom,
.accordion-wrap .accordion-area:last-child {
  border-bottom: 1px solid #e1e1e1;
}

/*NEW 할인권 리스트*/
/*온라인 : */
#cpnList {
  margin-top: 20px;
  padding: 0 18px;
}

#cpnList h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

#cpnList ul > li {
  width: 100%;
  border: 1px solid transparent;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: url("../images/icon_link_1.png") no-repeat top 50% right 10px/30px;
}

#cpnList ul > li:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#cpnList ul > li a {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

#cpnList ul > li a > span.cateOn {
  border: 1px solid #00a0e9;
  padding: 3px 5px;
  border-radius: 20px;
  font-size: 11px;
  color: #00a0e9;
  margin-right: 10px;
}

#cpnList ul > li a > span.cateMart {
  border: 1px solid #13b5b1;
  padding: 3px 5px;
  border-radius: 20px;
  font-size: 11px;
  color: #13b5b1;
  margin-right: 10px;
}

#cpnList ul > li a > span.cateCvc {
  border: 1px solid #eb6877;
  padding: 3px 5px;
  border-radius: 20px;
  font-size: 11px;
  color: #eb6877;
  margin-right: 10px;
}

#line_bnr {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #ececec;
  overflow: hidden;
}
#line_bnr a {
  display: block;
  width: 100%;
  height: 100%;
}
#line_bnr a figure {
  position: relative;
  width: 100%;
  height: 100%;
}
#line_bnr a figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}