@charset "UTF-8";
#toastPopupA {
  position: fixed;
  width: 90%;
  max-width: 420px;
  min-height: 280px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2006;
  transition: all 0.4s;
}
#toastPopupA.toastHide {
  transition: all 0.5s;
  display: none;
}
#toastPopupA.toastShow {
  display: block;
  transition: all 0.1s;
}
#toastPopupA .contents_wrap {
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 30px #eaeaea;
  border-radius: 16px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 310px;
}
#toastPopupA .contents_wrap .title {
  font-size: 5vw;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
#toastPopupA .contents_wrap .text {
  left: 0;
  text-align: center;
  overflow-y: scroll;
  height: 350px;
  overflow-y: scroll;
}
#toastPopupA .contents_wrap .text::-webkit-scrollbar {
  width: 6px;
}
#toastPopupA .contents_wrap .text::-webkit-scrollbar-track {
  background: transparent;
}
#toastPopupA .contents_wrap .text::-webkit-scrollbar-thumb {
  background: #333;
}
#toastPopupA .contents_wrap .text::-webkit-scrollbar-thumb:hover {
  background: #333;
}
#toastPopupA .contents_wrap .text pre {
  font-size: 4vw;
  line-height: 1.3;
}
#toastPopupA .contents_wrap .title-sub {
  font-size: 30px;
  line-height: 130%;
  padding: 36px 0;
}
#toastPopupA .contents_wrap .text-list li {
  font-size: 18px;
  line-height: 140%;
}
#toastPopupA .contents_wrap .text-list li::before {
  content: "∙";
  margin-right: 0.3em;
}
#toastPopupA .button_wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
}
#toastPopupA .button_wrap .button_list {
  width: 100%;
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  align-items: center;
}
#toastPopupA .button_wrap .button_list > li {
  width: 50%;
}
#toastPopupA .button_wrap .button_list input {
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  background: #888;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
#toastPopupA .button_wrap .button_list input.btn_week_close {
  border-left: 1px solid #fff;
}
#toastPopupA a.btn_more_view {
  display: block;
  width: 90%;
  margin: 0 auto;
  background: #333;
  border-radius: 8px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 380px) {
  .title {
    font-size: 4vw !important;
  }
  pre {
    font-size: 3vw !important;
  }
}
@media (min-width: 580px) {
  .title {
    font-size: 26px !important;
  }
  pre {
    font-size: 18px !important;
  }
}
/*공지사항 안내*/
#boardNotice {
  padding: 30px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  width: 96%;
  margin: 10px auto;
}
#boardNotice > h3.title {
  font-size: 26px;
  margin: 5px 0;
  font-weight: bold;
  text-align: left;
  width: 100%;
}
#boardNotice p {
  font-size: 16px;
  margin: 10px 0;
}
#boardNotice ul {
  margin: 20px 0 0 0;
}
#boardNotice ul li {
  margin: 5px 0;
}
#boardNotice ul li strong {
  display: block;
  margin: 20px 0;
}
#boardNotice h3 {
  text-align: right;
}
#boardNotice input[type=button] {
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 20px;
}

/*팝업스타일추가*/
#toastPopupB {
  position: fixed;
  width: 90%;
  max-width: 420px;
  min-height: 280px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2006;
  transition: all 0.4s;
}
#toastPopupB.toastHide {
  transition: all 0.5s;
  display: none;
}
#toastPopupB.toastShow {
  display: block;
  transition: all 0.1s;
}
#toastPopupB .contents_wrap {
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 30px #eaeaea;
  border-radius: 16px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}
#toastPopupB .contents_wrap .title {
  font-size: 24px;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
#toastPopupB .contents_wrap .text {
  left: 0;
  text-align: center;
  overflow-y: scroll;
  height: 250px;
  overflow-y: scroll;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 14px;
}
#toastPopupB .contents_wrap .text::-webkit-scrollbar {
  width: 6px;
}
#toastPopupB .contents_wrap .text::-webkit-scrollbar-track {
  background: transparent;
}
#toastPopupB .contents_wrap .text::-webkit-scrollbar-thumb {
  background: #333;
}
#toastPopupB .contents_wrap .text::-webkit-scrollbar-thumb:hover {
  background: #333;
}
#toastPopupB .contents_wrap .text .left {
  text-align: left;
  font-weight: bold;
  width: 100%;
}
#toastPopupB .button_list {
  position: absolute;
  top: 10px;
  right: 5%;
}
#toastPopupB .button_list input {
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
#toastPopupB .button_list input.btn_close {
  color: #666;
  font-size: 24px;
}
#toastPopupB a.btn_more_view {
  display: block;
  width: 90%;
  margin: 0 auto;
  background: #333;
  border-radius: 8px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}